# Exemplo de variáveis de ambiente para deploy no Netlify
# Copie o conteúdo do JSON da conta de serviço, codifique em base64 e cole aqui
GOOGLE_SERVICE_ACCOUNT=
# ID da planilha do Google Sheets
GOOGLE_SHEET_ID=
